Trooper.Testing.CustomShopClientConsole/Service References/CustomShopServiceReference/Trooper.Thorny.Business.Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SingleResponseOfProduct5WpXDBwg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="SingleResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Product" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" minOccurs="0" name="Item" nillable="true" type="q1:Product" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SingleResponseOfProduct5WpXDBwg" nillable="true" type="tns:SingleResponseOfProduct5WpXDBwg" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element minOccurs="0" name="Ok" type="xs:boolean" />
      <xs:element minOccurs="0" name="Warn" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="AddResponseOfShop5WpXDBwg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="AddResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Shop" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" minOccurs="0" name="Item" nillable="true" type="q3:Shop" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddResponseOfShop5WpXDBwg" nillable="true" type="tns:AddResponseOfShop5WpXDBwg" />
  <xs:complexType name="AddSomeResponseOfShop5WpXDBwg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="AddSomeResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Shop" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" minOccurs="0" name="Items" nillable="true" type="q4:ArrayOfShop" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddSomeResponseOfShop5WpXDBwg" nillable="true" type="tns:AddSomeResponseOfShop5WpXDBwg" />
  <xs:complexType name="SingleResponseOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="SingleResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Item" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SingleResponseOfboolean" nillable="true" type="tns:SingleResponseOfboolean" />
  <xs:complexType name="ManyResponseOfShop5WpXDBwg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ManyResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Shop" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" minOccurs="0" name="Items" nillable="true" type="q5:ArrayOfShop" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManyResponseOfShop5WpXDBwg" nillable="true" type="tns:ManyResponseOfShop5WpXDBwg" />
  <xs:complexType name="SingleResponseOfShop5WpXDBwg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="SingleResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Shop" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" minOccurs="0" name="Item" nillable="true" type="q6:Shop" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SingleResponseOfShop5WpXDBwg" nillable="true" type="tns:SingleResponseOfShop5WpXDBwg" />
</xs:schema>