Trooper.Testing.CustomShopClientConsole/Service References/CustomShopServiceReference/Trooper.Thorny.Business.Security.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Identity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Session" type="ser:guid" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Identity" nillable="true" type="tns:Identity" />
  <xs:complexType name="RequestArgOfShop5WpXDBwg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RequestArgOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Security" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Shop" Namespace="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RequestArgOfShop5WpXDBwg" nillable="true" type="tns:RequestArgOfShop5WpXDBwg" />
</xs:schema>