Trooper.Testing.CustomShopClientConsole/Service References/CustomShopServiceReference/Trooper.Testing.CustomShopApi.Business.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trooper.Testing.CustomShopApi.Business.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trooper.Testing.CustomShopApi.Business.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductInShop">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ShopId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductInShop" nillable="true" type="tns:ProductInShop" />
</xs:schema>