Trooper.Testing.CustomShopClientConsole/Service References/CustomShopServiceReference/Trooper.DynamicServiceHost.DynamicHost.TrooperTestingCustomShopApiBusinessOperation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trooper.DynamicServiceHost.DynamicHost.TrooperTestingCustomShopApiBusinessOperation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trooper.DynamicServiceHost.DynamicHost.TrooperTestingCustomShopApiBusinessOperation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Security" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Operation.Core" />
  <xs:complexType name="CHpoco">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Security" base="q1:Identity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CHpoco" nillable="true" type="tns:CHpoco" />
  <xs:complexType name="MyProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" base="q2:SingleResponseOfProduct5WpXDBwg">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MyProduct" nillable="true" type="tns:MyProduct" />
  <xs:complexType name="CBpoco">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" base="q3:AddResponseOfShop5WpXDBwg">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CBpoco" nillable="true" type="tns:CBpoco" />
  <xs:complexType name="CCpoco">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" base="q4:AddSomeResponseOfShop5WpXDBwg">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCpoco" nillable="true" type="tns:CCpoco" />
  <xs:complexType name="CDpoco">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Security" base="q5:RequestArgOfShop5WpXDBwg">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDpoco" nillable="true" type="tns:CDpoco" />
  <xs:complexType name="CEpoco">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" base="q6:SingleResponseOfboolean">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEpoco" nillable="true" type="tns:CEpoco" />
  <xs:complexType name="CFpoco">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" base="q7:ManyResponseOfShop5WpXDBwg">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CFpoco" nillable="true" type="tns:CFpoco" />
  <xs:complexType name="CGpoco">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Operation.Core" base="q8:Search">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CGpoco" nillable="true" type="tns:CGpoco" />
  <xs:complexType name="CApoco">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" base="q9:SingleResponseOfShop5WpXDBwg">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CApoco" nillable="true" type="tns:CApoco" />
</xs:schema>