Trooper.Testing.CustomShopTestWs/Service References/InventoryBoServiceReference/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InventoryBo" targetNamespace="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/Imports">
      <xsd:import namespace="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Operation.Core" />
      <xsd:import namespace="Trooper.DataOperations" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Response" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopModel.Poco" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Security" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventoryBo_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IInventoryBo_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryBo_GetByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByKey" />
  </wsdl:message>
  <wsdl:message name="IInventoryBo_GetByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryBo_ExistsByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistsByKey" />
  </wsdl:message>
  <wsdl:message name="IInventoryBo_ExistsByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistsByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryBo_IsAllowed_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAllowed" />
  </wsdl:message>
  <wsdl:message name="IInventoryBo_IsAllowed_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAllowedResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryBo_GetSomeBySearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSomeBySearch" />
  </wsdl:message>
  <wsdl:message name="IInventoryBo_GetSomeBySearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSomeBySearchResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventoryBo">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/GetAll" message="tns:IInventoryBo_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/GetAllResponse" message="tns:IInventoryBo_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByKey">
      <wsdl:input wsaw:Action="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/GetByKey" message="tns:IInventoryBo_GetByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/GetByKeyResponse" message="tns:IInventoryBo_GetByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistsByKey">
      <wsdl:input wsaw:Action="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/ExistsByKey" message="tns:IInventoryBo_ExistsByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/ExistsByKeyResponse" message="tns:IInventoryBo_ExistsByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAllowed">
      <wsdl:input wsaw:Action="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/IsAllowed" message="tns:IInventoryBo_IsAllowed_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/IsAllowedResponse" message="tns:IInventoryBo_IsAllowed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSomeBySearch">
      <wsdl:input wsaw:Action="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/GetSomeBySearch" message="tns:IInventoryBo_GetSomeBySearch_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/GetSomeBySearchResponse" message="tns:IInventoryBo_GetSomeBySearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventoryBo" type="tns:IInventoryBo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByKey">
      <soap:operation soapAction="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/GetByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsByKey">
      <soap:operation soapAction="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/ExistsByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAllowed">
      <soap:operation soapAction="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/IsAllowed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSomeBySearch">
      <soap:operation soapAction="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBoNs/IInventoryBo/GetSomeBySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryBo">
    <wsdl:port name="BasicHttpBinding_IInventoryBo" binding="tns:BasicHttpBinding_IInventoryBo">
      <soap:address location="http://localhost:8000/Trooper.Testing.CustomShopApi.Business.Operation.InventoryBo" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>