Trooper.Testing.CustomShop.Api.TestFromWs/Service References/OutletBoServiceReference/Trooper.Testing.ShopPoco.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopPoco" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trooper.Testing.ShopPoco" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Outlet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutletId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Outlet" nillable="true" type="tns:Outlet" />
  <xs:complexType name="ArrayOfOutlet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Outlet" nillable="true" type="tns:Outlet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOutlet" nillable="true" type="tns:ArrayOfOutlet" />
</xs:schema>