Trooper.Testing.CustomShopTestWs/Service References/OutletBoServiceReference/Trooper.Thorny.Business.Operation.Core1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Operation.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trooper.Thorny.Business.Operation.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Search">
    <xs:sequence>
      <xs:element minOccurs="0" name="SkipItems" type="xs:int" />
      <xs:element minOccurs="0" name="TakeItems" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Search" nillable="true" type="tns:Search" />
</xs:schema>